
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
.nav_bar{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #E6EFF0;
}
