@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
*{
    margin: 0px;
    padding: 0px;
    border: 0px;

}

*:focus{
    outline: none;
}
.body{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* width */
 ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
   
  /* Track
  ::-webkit-scrollbar-track {
    background: white;
  }
   
  Handle
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  Handle on hover
  ::-webkit-scrollbar-thumb:hover {
    background: darkgray;
  } */


#overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    -webkit-filter: blur(0px);
    z-index: 3;
    transition: 0.2s;
}

#parallax{
    background-color: #345e6c;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background_tree{
    background-image: url("../images/tree_background.png");
    background-color: #345e6c;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 87vh;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: blur(8px);
    opacity: 0.4;
}

#social_media{
    transition: 1s;
    color: white;
    font-size: 30px;
    z-index: 10;
}


#social_media a img{
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

#social_media a{
    position: fixed;
    width: 120px;
    height: 50px;
    left: -80px;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0px 5px 5px 0px;
    transition: 0.3s;
    padding-left: 10px;
    padding-right: 5px;
}

#social_media a:hover{
    left: 0px;
}

#social_media a button{
    font-size: 15px;
    color: white;
    background-color: rgba(0,0,0,0.45);
    width: 100px;
    height: 35px;
    font-family: 'Lato', sans-serif, sans-serif;
    border-radius: 5px;
    font-weight: bold;
}

#social_media a button:hover{
    color: black;
    background-color: white;
    transition: 0.3s;
}

/* @keyframes arrow_right {
    from {left: 0px; top: 43.5%;}
    to {left: 10px; top: 43.5%;}
} */

.menu_bar{
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 60px;
    background-color: rgba(219, 212, 212, 0,5);
    color: white;
    /* background-color: darkslategray; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1;

}

.menu_bar a{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    
}

.menu_bar a img{
    margin-left: 5px;
    margin-top: 5px;
    /* filter: invert(1); */
    width: 15px;
    height: 15px;
 
}

.menu_bar a:hover img{
    fill: white;
    transform: scaleY(-1);
    transition: 0.3s;
}

.menu_bar a:hover a{transition: 1s;
    background-color: red;
}

#parallax h1{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(199, 209, 199, 0.144);
    width: 400px;

    border-radius: 5px;
}

#parallax h2{
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    width: 60vw;
}


.section{
    height: auto;
    width: 100vw;
}


#logo{
    font-family: 'Monofett', cursive;
    font-size: 3rem;
    width: auto;
    height: auto;
}

#blog{
    font-family: 'Monofett', cursive;
    font-size: 3rem;
}

#nav_link{
    width: 350px;
    font-family: 'Lato', sans-serif, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
}

#nav_link a{
    font-size: 18px;
}

.nav_tab{
    display: flex;
    flex-direction: row;
    align-items: center;
}


#experience_section{
    display: flex;
    background-color: rgb(255, 255, 255);
    /* background-color:cadetblue; */
    height: 100vh;
    width: 86%;
    padding-left: 7%;
    padding-right: 7%;
    min-height: 800px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.experience_background{
    background-image: url("../images/project_asset/experience_background.jpg");
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}



.timeline{
    height: 800px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0px;
}
.timeline h1{
    height: auto;
    margin-bottom: 150px;
}

.timeline::before{
    content: '';
    height: 100%;
    width: 2px;
    background-color: darkgrey;
    position: absolute;
    left: 50%;
}

.timeline ul{
    list-style-type: none;
    width: 100%;
}


.timeline ul li{
    width: 50%;
    clear: both;
    height: auto;
    margin-bottom: 20px;
}


.timeline ul li:before{
    content: '';
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 48.8%;
    border: 4px solid darkseagreen;
}

.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
}

.timeline ul li:nth-child(even){
    float:right;
    text-align: left;
}

.timeline ul li:nth-child(odd) .content{
    margin-right: 10%;

}

.timeline ul li:nth-child(even) .content{

    margin-left: 10%;
    
}


.timeline ul li p{
 
    font-size: 1.2rem;
    background-color:  darkcyan;
    width: 130px;
    text-align: center;
    font-weight: 500;
    padding: 4px;
    border-radius: 10px;
    color: white;
    border: 2px solid darkgreen;
    -webkit-box-shadow: -2px 10px 21px -3px rgba(0,0,0,0.45);
    -moz-box-shadow: -2px 10px 21px -3px rgba(0,0,0,0.45);
    box-shadow: -2px 10px 21px -3px rgba(0,0,0,0.45);

}

.timeline ul li:nth-child(even) p{
    position: absolute;
    left: -50%;
   
}

.timeline ul li:nth-child(odd) p{
    position: absolute;
    right: -50%;
 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.skills{
    width: 40%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.skills h1{
    width: 300px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

.skill_img{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    padding: 10px;  
    border-radius: 50%; 
    background-color: rgba(255,255,255,0.45);
    transition: 0.3s;
    -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
}

.skill_details{
    width: 700px;
    height: 500px;
    background-color: transparent;
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.skill_details img{
    width: 150px;
    height: 150px;
}

.skill_details span{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 500px;
    height: 200px;
}

.skill_details p{
    font-size: 30px;
    font-weight: bolder;
    
}

.row_1{
    top: 410px;
    left: -23px;
}

.row_2{
    top: 315px;
    left: -23px;
}

.row_3{
    top: 220px;
    left: -23px;
}

.row_4{
    top: 125px;
    left: -23px;
    
}



#skill_info{
   
    width: 700px;
    height: 500px;
    border-radius: 10px;
    background-image: url('../images/character.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 0;
}

.skill_img:hover{
    -webkit-transform: scale(1.2);
    transition: 0.3s;
}

.skill_img:hover +.skill_details{
    opacity: 1;
    transition: 0.3s;
}

.skill_img:active{
    -webkit-transform: scale(1);
    transition: 0.2s;
}


.skill_row{
    width: 600px;
    height: auto;
    display: flex;
}

.row_even{
    padding-left: 55px;
}

.row_odd{
    
}



.content{
    width: auto;
    max-height: 150px;
    line-height: 1.5;
    display: flex;
    padding: 20px;
    background-color: rgb(250, 248, 248);
    border-top: 10px solid rgb(201, 188, 224);
    border-width: 90%;
    -webkit-box-shadow: 0px 12px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 12px 28px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 12px 28px 0px rgba(0,0,0,0.75);
}

.content img{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;  
}

.content_header{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 5px;
    background-color: rgba(91, 134, 136,0.4);
    text-align: center
    
}

.content span{
    width: 250px;
    font-size: 16px;
    font-family: sans-serif;
    background-color: rgba(230,230,230,0.6);

}



#project_background{
    background-image: url("../images/project_asset/project_background.jpg");
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: blur(1px);
    opacity: 1;
    border-radius: 20px;
}


#project_section{
    height: auto;
    min-height: 60vh;
    display: flex;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    background-color: rgb(181, 181, 182);


}


.project_container{
    width: 70vw;
    min-width: 530px;
    height: auto;
    padding-top: 200px;
    padding-bottom: 175px;
      
}

.project_content{
    width: 450px;
    height: 350px;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.project_inner{
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    transition: 0.3s;
    -webkit-box-shadow: 0px 3px 33px 0px rgba(0,0,0,0.76);
    -moz-box-shadow: 0px 3px 33px 0px rgba(0,0,0,0.76);
    box-shadow: 0px 3px 33px 0px rgba(0,0,0,0.76);
}


.project_content:hover .project_inner{
    opacity : 0.9;
    transition: 0.3s ease-in;
}

.project_content:hover{
    opacity: 0.9;
}


.project_inner h2{
    font-family: 'Syne', sans-serif;
    font-size: 22px;
    color: rgb(52 94 108);
}



.project_info{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.project_tools{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project_tools img{
    width: 60px;
    height: 60px;
}

.project_info button{
    width: auto;
    height: 40px;
    border: 1px solid darkgreen;
    font-family: 'Syne', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}


.project_button button{
    padding: 5px
}



.project_link{
    background-color: rgb(52 94 108);
    color: white;
}

.project_link:hover{
    background: white;
    color: rgb(52 94 108);
    transition: 0.3s;
}


.project_github{
    background: white;
    color: rgb(52 94 108);
    border: 1px solid;

}

.project_github:hover{
    background-color: rgb(52 94 108);
    color: white;
    transition: 0.3s;
}

.underline{
    width: auto;
    height: 4px;
    background-color: #345e6c;
    border-radius: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

#contact_section{
    width: 100vw;
    height: 70vh;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}



#contact_section h1{
    font-family: 'Gabriela', serif;

}

#contact_section form{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#contact_section form div label{
    font-family: 'Lato', sans-serif, sans-serif;
    font-size: 20px;
    text-align: left;
    width: 130px;
    height: 30px;
    padding-top: 20px;
    padding-right: 30px;
}

#contact_section form div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#contact_section form hr{
    height: 2px;
    background-color: white;
    width: 90%;
}

#contact_section form div input{
    background-color: transparent;
    height: 30px;
    border-bottom: 2px solid white;
    font-size: 15px;
    font-weight: bold;
} 

#contact_section form button{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background-color: lightseagreen;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    transition: 0.3s;
}

#contact_section form button:hover{
    background-color: white;
    color: cadetblue;
    -webkit-transform: scale(0.9);
}

#contact_section form button:active{
    background-color: rgba(0,0,0,0.5);
    border: 0px;
}

#message_input{
    height: 300px !important;
    display: flex;
    flex-direction: column;
    width: 400px !important;
}

#message_input label{
    width: 100px !important;
    text-align: center !important;
    vertical-align: center !important;
    height: 30px !important;
    padding-top: 0px !important;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.2)
}


#message_input textarea{
    width: 100%;
    height: 200px !important;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.8);
    font-size: 15px;
    resize: none;
}


#footer{
    width: 100%;
    height: 300px;
    background-color: rgb(64, 134, 136);
}


.skill_tags_section{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



@media screen and (max-width: 1800px) {

    .row_1{
        top: -43px;
        left: 637px;
    }
    
    .row_2{
        top: -141px;
        left: 637px;
    }
    
    .row_3{
        top: -239px;
        left: 637px;
    }
    
    .row_4{
        top: -337px;
        left: 637px;
    }
    

    #experience_section{
        display: flex; 
        flex-direction: column;
        justify-items: center;
        align-content: space-between;
        height: auto;
    }

    .timeline{
        width: 1240px;
        height: 700px;
        margin-top: 100px;
        margin-bottom: 100px;
        min-width: 600px;
    }

    .content{
        width: auto;
        height: 150px;
    }
    .skills{
        width: 1500px;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-content: space-evenly;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 100px;
    }


    #project_section{
        height: auto;
    }
    .skill_row{
        width: 500px;
    }

}

@media screen and (max-width: 1150px) {

    #experience_section{
        display: flex; 
        flex-direction: column;
        justify-items: center;
        align-content: space-between;
        height: auto;
    }

    .content_header{
        font-size: 50px;
    }

    .timeline{
        width: 70%;
        min-width: 500px;
        height: auto;
    }

    .content{
        height: 100px;
        margin-top: 20px;
    }

    .content div{
        padding-top: 35px;
    }

    .content img{
        margin-top: 35px;
    }
    .skills{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 900px;
        display: flex;
        flex-direction: column;
    }
    .skill_details{
        display: none;
    }
    .skill_img{
        max-width: 75px;
        max-height: 75px;
        width:  9vw;
        height: 9vw;
    }
    .skill_row{
        width: 100%;
        justify-content: space-evenly;
    }
    .row_even{
        padding: 0;
    }

    .row_odd{
        padding: 0;
    }
    #parallax h1{
        font-size: 2rem;
        background-color: rgba(199, 209, 199, 0.144);
        position: relative;
        
    }
    #parallax h2{
        font-size: 1.3rem;
    }

    #parallax{
        height: 100vh;
    }





    .content{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 30px;
        justify-content: center;
        height: 120px;
        align-items: center;
    }

    .timeline ul li{
        margin-top: 50px;
        width: 100%;
        clear: both;
        float: right !important;
        text-align: left !important;
    }

    .content img{
        width: 120px;
        height: 120px;
    }

    .content_header{
        font-size: 25px;
    }
    
    
    .timeline ul li:before{
        left: 12px;
    }
    .timeline::before{
        left: 20px;
    }

    .timeline ul li:nth-child(odd) .content{
        padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 10%;
    }
    
    .timeline ul li:nth-child(even) .content{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
    }

    .timeline ul li:nth-child(even) p{
        width: 100px;
        left: 0px;
        margin-bottom: 200px;
    }

    .timeline ul li:nth-child(odd) p{
        width: 100px;
        left: 0px;
        margin-bottom: 200px;
    }

    #logo{
        display: none;
    }
    #blog{
        display: none;
    }




   .timeline ul li{
        margin: 0;
   }
   .section_header{
        font-size: 40px;
        top: 80px;
        left: 20px;
   }

   .project_container{
    height: auto;
   }

    #social_media{
        display: none;
    }

    .project_content {
        width: 60vw;
        height: 60vw;
        max-width: 400px;
        max-height: 400px;
    }
}





