@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.project_detail_window{
    width: 1000px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    margin: 0px;
    padding: 0px;
    background: rgb(186,185,205);
background: linear-gradient(90deg, rgba(186,185,205,1) 0%, rgba(213,213,227,1) 19%, rgba(127,213,208,1) 100%);
    z-index: 3;
    background-image: ();
}
.project_detail_window button:hover{
    color: black;   
}

.project_description{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.project_description p{
    width: 700px;
    height: auto;
    padding: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 1.5;
    position: relative;
    border-radius: 10px;
    
}


.project_description div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.project_description a{
    width: 150px;
    height: 30px;
    border: 1px solid rgb(17, 24, 17);
    margin: 5px;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(52 94 108);
    color: white;
    text-decoration: none; 
    transition: 0.3s;
}

.project_description a:hover{
    color: rgb(52 94 108);
    background-color: white;
    transition: 0.3s;
}

#skill_tag_section{
    width: 80%;
    margin: 20px auto auto auto;
    height: auto;
}

.skill_tag{
    width: 80px;
    height: 20px;
    padding: 3px;
    background-color: rgb(52 94 108);
    color:  white;
    border-radius: 5px;
    font-family: 'Balsamiq Sans', cursive;
    display: inline-block;
    margin: 5px;
}

.project_detail_window h2{
    height: auto;
    vertical-align: bottom;
    font-family: 'Rock Salt', cursive;
    font-size: 35px;
}



@media screen and (max-width: 1150px) {
    .project_detail_window{
        width: 500px;
        height: auto;
    }

    .project_description{
        width: 100%;
        height: 44%;
        flex-direction: column;
    }

    .project_description p{
        width: 90%;
    }
    .project_description div{
        height: auto;
    }
    .project_description a{
        margin-top: 0px;
    }

}