.project_detail_window{
    width: 40vw;
    height: 1000px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    overflow: scroll;
    margin: 0px;
    padding: 0px;
    background-color: white;
    
}


.project_detail_window button:hover{
    color: black;   
}